<!DOCTYPE html>
<html lang="en">
{{>Header}}
<body>
    {{>Navbar}}
    
    <div class="background">
   <div class="container-fluid">
    <h2>User Profile</h2>
    <img src="/Images/Profile_Photo.avif" height="200px" width="200px"/>
    <h3>Name : {{user.NAME}}</h3>
    <h3>Email : {{user.EMAIL}}</h3>
   </div></div>
</body>
</html>